TELEGRAM_API_KEY=99999999:AAGAs0sosFO-FCmidioasodsGrA_fGr5Kh0
MONGO_DB_URL=mongodb://localhost:27017/
ADMIN_CHAT_ID=1615 #Can be obtained accessing GET https://api.telegram.org/botYOUR-BOT-TOKEN/getUpdates
